// main-view.scss

.main-view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.list-empty-message {
  font-size: 18px;
  color: red;
  margin: 20px;
}
